@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 초기화 reset ------------------------ */
body,
h1,
h2,
h3,
h4,
p,
button,
fieldset,
legend,
ul, ol, li{
    margin: 0;
    padding: 0;
}
button:enabled{
    cursor: pointer;
}

a{
    text-decoration: none;
    color:inherit;
}

.layout-header{
    font-family: 'iceJaram-Rg';
    font-size: 50px;
    font-weight: bold;
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

.layout-footer{
    text-align: center;
    background-color: #eee;
    padding:30px 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap:60px;
}

.emo{
    display: flex;
    gap: 10px;
}

.emo input{
    margin-top: 20px;
    height: 20px;

}

.emo button{
    border: 0;
    color:white;
}

.emo img{
    width: 60px;
}

main{
    flex-grow: 1;
}