.main-board{
    display: flex;
    font-family: 'Cafe24Oneprettynight';
}

/* 메인 보드의 왼쪽 박스 ------------------------ */
.left-box{
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 40px;
    gap: 10px;
}

.images img,
.left-text{
    width: 90%;
    font-size: 21px;
    font-weight: bold;
}

.left-text{
    padding-top: 20px;
    color: #452506;
}


/* 메인 보드의 오른쪽 박스 ------------------------ */
.container{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right-text{
    padding-left: 20px;
    font-size: 23px;
    font-weight: bold;
}

.right-text :nth-child(2){
    padding-top: 10px;
    padding-left: 45px;
}

.right-text span{
    font-family: 'iceJaram-Rg';
    font-size: 30px;
    font-weight: bold;
}

.emo{
    display: flex;
    gap: 10px;
}

.emo input{
    margin-top: 20px;
    height: 20px;
    width: 200px;
}

.emo input {
    height: 25px;
    border: 0px solid;
    border-radius: 5px;
}

.emoButton{
    border: 0;
    color:white;
    background-color: transparent;
}

.emo img{
    margin: 10px 5px 0px 5px;
    width: 50px;
}

.right-answer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.q-and-a{
    width: 50%;
}

.answer{
    font-size: 18px;
    line-height: 23px;
    width: 90%;
}

.youTube-link{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    width: 700px;
    color: #452506;
}

/* chachButton 생성------------------------ */

.chachButton{
    background-color: transparent;
    color: transparent;
    z-index: -1;
    width: 100px;
    height: 28px;
    border: 0px;
    border-radius: 10px;
    font-family: 'Cafe24Oneprettynight';
    font-size: 20px;
}

.getButton{
    background-color: #794510;
    color: white;
    z-index: 0;
}



/* Random ------------------------ */

.emo .Random-text {
    z-index: -1;
    background-color: transparent;
    width: 125px;
}

.emo .Random-enter img{
    margin-top: 30px;
    width: 100px;
}

.randomLink{
    font-size: 25px;
    font-weight: bold;
    color: #452506;
    padding-top: 20px;
}
